<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %> 

  <!--   Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <div class="col-md-4 px-0">
        <div class="ms-auto d-block">
            <img src=".\Assets\images\myImage.jpg" alt="My Picture" class="img-fluid">
        </div>
    </div>
      <p>My name is Tanvir Mahmud. Currently I'm enrolled in Artificial Intelligence Program at Centennial 
        College. I also hold a Bachelor's degree in Automotive Engineering. I'm passiionate 
        about learning and applying new Technologies everyday.
      </p>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %>



