<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %> 

  <!--   Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <br>
      <h4>Thank you for visiting my site. I welcome you to browse around in order to know more about me.</h4>
      <br><br>
      <p>Let's start by clicking on the link below:</p>
      
      <div class="button_home">
        <a class="d-flex p-2" href="\about">About me</a>
      </div>
      <h3>I'm a software engineer</h3>
      </div>
    </div>

  </main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %>









