<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %> 

  <!--   Main Content-->
  <main class="container ">
    <div class="main-body">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <br>
      <h4>Thank you for visiting my site. I welcome you to browse around in order to know more about me.</h4>
      <br><br>
      <p>Let's start by clicking on this link: <a class="p-2" href="\about">About me</a></p>
 

      <h3>Mission Statement: </h3>
      <p>My vision is to be an honest, empathetic and impactful software engineer and 
        to be recognized internationally within my industry. I am committed to growing 
        as a leader and delivering value-added projects to the end users. My mission is 
        to create and lead a dream team where everyone is playing to their strengths<p>
      </div>
    </div>

  </main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %>









