<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %> 

  <!--   Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <br>
      <h4>Here are the services that I provide:</h4>
        <div class="services">
            <div>
                <img width="300" height="200" src=".\Assets\images\service1.jpg" alt="" srcset="">
                <p>Web Development</p>
            </div>
            <div>
                <img width="300" height="200" src=".\Assets\images\service2.jpg" alt="" srcset="">
                <p>Programming</p>
            </div>
            <div>
                <img width="300" height="200" src=".\Assets\images\service3.jpg" alt="" srcset="">
                <p>Software Testing</p>
            </div>
        </div>

    </div>

  </main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %>