<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!--   Main Content-->
<main class="container">
  <div class="main-body">
    <h1 class="display-4 title">My <%= title %></h1>

    <h4 class="title sub-title mb-5 ">Here are some of the projects that I worked on:</h4>
    <div class="context-wrap">
      <div class="pb-5">
        <div class="row">
          <div class="col mt-5 text-center">
            <img
              width="500"
              height="300"
              src=".\Assets\images\calculator.PNG"
              alt="Calculator App"
              srcset=""
            />
            <h5 class="mt-2">Calculator app crated using C#</h5>
          </div>
          <div class="col mt-5 text-center">
            <img
              width="500"
              height="300"
              src=".\Assets\images\ecommerce.png"
              alt=""
              srcset=""
            />
            <h5 class="mt-2">E-Commerce Website</h5>
          </div>
        </div>
        <div class="row mt-5 text-center">
          <div class="col">
            <img
              width="500"
              height="300"
              src=".\Assets\images\weather.PNG"
              alt=""
              srcset=""
            />
            <h5 class="mt-2">Weather App</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %>
